.home {
    background-color: black;

    padding: 5rem 2rem;
    min-height: 94vh;

    .services {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .service {
            width: 100%;
            aspect-ratio: 1/1;
            max-width: 30rem;

            background-image: url("/images/services/portraits/ivana/3.webp");
            background-size: cover;

            display: flex;
            align-items: center;
            justify-content: center;

            user-select: none;

            transition: opacity 0.2s ease-in-out;

            cursor: pointer;

            &:nth-child(2) {
                background-image: url("/images/services/familyPhotos/engagement/4.webp");
            }
    
            &:nth-child(3) {
                background-image: url("/images/services/concerts/lildrito/4.webp");
            }

            &:hover {
                opacity: 0.8;
            }

            h1 {
                color: white;
                font-family: "Cinzel Decorative", sans-serif;
                font-size: 2.5rem;
                font-weight: 700;
            }
        }
    }
}

@media screen and (min-width: 900px) {
    .home {
        padding-top: 15%;
        .services {
            gap: 2rem;
            .service {
                h1 {
                    font-size: 3.5rem;
                }
            }
        }
    }
}